.title{
    font-size: 50px !important;
    font-style: italic;
}
.imp{
  width: 40%;
}

/* /////////////////////////////////////////Home-Section///////////////////////////////// */
#home {
  background-image: url("../Images/image-000.jpg");
  min-height: 100vh;
  background-position: center center;
  background-position-x: center;
  background-position-y: 30%;
  background-size: cover;
}
.text-home {
  font-size: 80px !important;
  /* letter-spacing: -2px; */
  /* line-height: 0.9; */
  font-weight: 500;
  font-style: italic;
}
/* /////////////////////////////////////////Consultation-Section///////////////////////////////// */
.cons-btn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  /* font-family: inherit; */
  font-weight: 500;
  font-size: 35px !important;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: black;
  background: #ad5389;
  background: linear-gradient(to right, white, white, white);
  border: 3px solid white;
  letter-spacing: 0.05em;
  border-radius: 50px !important;
}

.cons-btn svg {
  margin-right: 3px;
  transform: rotate(30deg);
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.cons-btn span {
  transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.cons-btn:hover svg {
  transform: translateX(5px) rotate(90deg);
}

.cons-btn:hover span {
  transform: translateX(7px);
}
.cons-text{
    font-size: 110px !important;
    letter-spacing: -2px;
    line-height: 0.9;
    font-weight: 600;
}
/* /////////////////////////////////////////Contact-Section///////////////////////////////// */
.contact {
  background-image: url("../Images/image-001.jpg");
  min-height: 100vh;
  background-position: center center;
  background-position-x: center;
  background-size: cover;
}
.cotact-text {
  font-size: 50px !important;
  margin-top: 40px !important;
  padding-top: 40px !important;
  display: flex !important;
  align-items: center !important;

}
a,Link{
    text-decoration: none !important;
}
.res{
  display:none !important;
  }
  .res1{
    display:block !important;
  }
/* /////////////////////////////////////////Media///////////////////////////////// */
@media all and (min-width: 992px) {
  .cons-text{
    font-size: 60px !important;
  }
  .title{
    font-size: 50px !important;
  }
  .font-not{
    font-size: 13px;
  }
  .cons-btn {
    font-weight: 300 !important;
    font-size: 30px !important;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: black;
    background: #ad5389;
    background: linear-gradient(to right, white, white, white);
    border: 3px solid white;
    letter-spacing: 0.05em;
    border-radius: 50px !important;
  }
  .contact{
    display: none !important;
    justify-content: none !important;
    align-items: none !important;
  }
  .res{
    display:none !important;
    font-size: 25px !important;
  }
   .res1{
    display:block !important;
    font-size: 40px !important;
  }
  .home1{
    font-size: 15px !important;
  }
  .home2{
    font-size: 15px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  }
  .cotact-text{
    margin-top: 40px !important;

  }
}
@media all and (max-width: 992px) {
  .cons-text{
    font-size: 60px !important;
  }
  .title{
    font-size: 50px !important;
  }
  .font-not{
    font-size: 13px;
  }
  .cons-btn {
    font-weight: 300 !important;
    font-size: 30px !important;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: black;
    background: #ad5389;
    background: linear-gradient(to right, white, white, white);
    border: 3px solid white;
    letter-spacing: 0.05em;
    border-radius: 50px !important;
  }
  .contact{
    display: none !important;
    justify-content: none !important;
    align-items: none !important;
  }
  .res{
    display:none !important;
    font-size: 25px !important;
  }
   .res1{
    display:block !important;
    font-size: 40px !important;
  }
  .home1{
    font-size: 15px !important;
  }
  .home2{
    font-size: 15px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  }
  .cotact-text{
    margin-top: 40px !important;

  }
}
@media all and (max-width: 767px) {
  .cons-text{
    font-size: 80px !important;
  }
  .title{
    font-size: 50px !important;
  }
  .font-not{
    font-size: 13px;
  }
  .cons-btn {
    font-weight: 300 !important;
    font-size: 30px !important;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: black;
    background: #ad5389;
    background: linear-gradient(to right, white, white, white);
    border: 3px solid white;
    letter-spacing: 0.05em;
    border-radius: 50px !important;
  }
  .contact{
    display: none !important;
    justify-content: none !important;
    align-items: none !important;
  }
  .res{
    display:block !important;
    font-size: 70px !important;
  }
   .res1{
    display:none !important;
  }
  .home1{
    font-size: 15px !important;
  }
  .home2{
    font-size: 15px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  }
  .cotact-text{
    margin-top: 40px !important;

  }
}
@media all and (max-width: 600px) {
  .cons-text{
    font-size: 55px !important;
  }
  .title{
    font-size: 37px !important;
  }
  .font-not{
    font-size: 13px;
  }
  .cons-btn {
    font-weight: 300 !important;
    font-size: 20px !important;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: black;
    background: #ad5389;
    background: linear-gradient(to right, white, white, white);
    border: 3px solid white;
    letter-spacing: 0.05em;
    border-radius: 50px !important;
  }
  .contact{
    display: none !important;
    justify-content: none !important;
    align-items: none !important;
  }
  .res{
    display:block !important;
    font-size: 37px !important;
  }
   .res1{
    display:none !important;
  }
  .home1{
    font-size: 15px !important;
  }
  .home2{
    font-size: 15px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  }
  .cotact-text{
    margin-top: 40px !important;

  }
}






  